<div class="container-fluid" style="background-color: #1f2122;height: 100%;">
     <div class="row">
            <div class="col-12 p-4" >
              <h1 class="text-white">Add new Student</h1>
              <form #newf="ngForm" [formGroup]="newStudent" (ngSubmit)="onSubmit(newf)" style="display: flex;flex-direction: column;">
                <div class="row g-3">
                  <div class="col">
                    <input type="text" class="form-control" formControlName="name" placeholder="Name" aria-label="Name">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" formControlName="patronus" placeholder="Patronus" aria-label="Patronus">
                  </div>
                  <div class="col">
                    <input type="number" class="form-control" formControlName="age" placeholder="Age" aria-label="Age">
                  </div>
                  <div class="col">
                    <input type="file" class="form-control" (change)="uploadImg($event)" formControlName="image" placeholder="Upload Image" aria-label="image">
                  </div>
                </div>
                
                <button type="submit" [disabled]="!newStudent.valid" mat-raised-button color="primary" class="text-center my-4">Add Student</button>
              </form>
              
            </div>
            
            <img style="width: 80%;" class="mx-auto" src="https://imaginajuguetes.com/pub/media/catalog/category/harry-potter-logo.png" alt="">
          </div>

         
</div>