<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <!-- SIDENAV TITLE -->
    <mat-toolbar>Harry Potter Catalog</mat-toolbar>
    <!-- SIDENAV -->
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <span mat-list-item >Characters </span>
          </button>
      </mat-list-item>
   
      <mat-list-item>
        <button mat-icon-button (click)="changeTable('students')">
          <span mat-list-item >Students </span>
          
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="changeTable('staff')">
          <span mat-list-item >Staff </span>
          
        </button>
      </mat-list-item>
      <!-- MENU DE CASAS HP -->
      <mat-menu #menu="matMenu">
        <ng-container  *ngFor="let house of houses">
          <button mat-menu-item (click)="changeTable('all',house.name)" [class]="house.class">
            <span>{{house.name}}</span>
            <img style="width: 35px;height: 35px;margin-top: 5px;" [src]="house.imgUrl" alt="">
          </button>
        </ng-container>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngClass]="{
      'gryf':title==='Gryffindor',
      'slyt':title==='Slytherin',
      'huff':title==='Hufflepuff',
      'rav':title==='Ravenclaw'
    }">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="text-transform: uppercase;">{{title}}</span>
      
      <img style="width: 50px;height: 50px;margin-top: 5px;" *ngIf="title !== 'staff' && title !== 'students' && title !== 'characters' "  [src]="filterImg(title)" alt="">
    </mat-toolbar>
    <!-- CONTENEDOR PRINCIPAL -->
    <ng-container *ngIf="characterList.length!=0;else noData">
      <ng-container *ngIf="!loading;else spinner">
        <div class="container">
        
          <div class="row">
            <div class="col-12 p-4">
              <button  mat-raised-button color="primary" class="m-2" *ngIf="title === 'students'" (click)="addNew()">Add Student</button>
              <app-characters-table [characters]="characterList" ></app-characters-table>
            </div>
          </div>
        </div>
      

      </ng-container>
      <ng-template #spinner>
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center p-5">
              <mat-spinner></mat-spinner>
            </div>
          </div>
        </div>
        
      </ng-template>
      
    </ng-container>
    <ng-template #noData>
      <div class="container">
        <div class="row">
          <div class="col-12 p-4 text-center">
            <img style="width: 80%;" src="https://imaginajuguetes.com/pub/media/catalog/category/harry-potter-logo.png" alt="">
            <h1>Select a character...</h1>

          </div>
        </div>
      </div>
    </ng-template>
    
  </mat-sidenav-content>
</mat-sidenav-container>
